<ons-template id="options.html">
    <ons-navigator var="myNavigator">
        <ons-page>
            <ons-list>
                <ons-list-header>Android Versions</ons-list-header>

                <ons-list-item modifier="chevron">Jelly Bean</ons-list-item>
                <ons-list-item modifier="chevron">Honycomb</ons-list-item>

                <ons-list-header>Mac OS X Versions</ons-list-header>

                <ons-list-item modifier="chevron">Mavericks</ons-list-item>
                <ons-list-item modifier="chevron">Mountain Lion</ons-list-item>
                <ons-list-item modifier="chevron">Lion</ons-list-item>
                <ons-list-item modifier="chevron">SnowLeopard</ons-list-item>

            </ons-list>
        </ons-page>
    </ons-navigator>
</ons-template>
